body{padding: 0;margin:0;overflow: hidden;height: 100vh;width: 100vw;background-color: #FF00FF}

.llibertat{
    font-family: "Stencilia-A";
    font-size: 100px;
    font-weight: bold;
    text-align:center;
    color:#221F20;
    position: fixed; /* or absolute */
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.llibertat-border{
    border: 15px solid #221F20;padding: 100px;
}

.nopararem{font-size: 40px;margin-top: 50px;font-family: Arial}
.visible-false{visibility: hidden}